
@{
    ViewBag.Title = "AddAStudentLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create A Student Login</h2>

@using (Html.BeginForm("UpdateStaffLogin", "Staff"))
{
    <table>
        <tr>
            <td>@Html.Label("Staff Name: ")</td>
            <td>@Html.TextBox("staffName")</td>
        </tr>
        <tr>
            <td>@Html.Label("Staff's User Name: ")</td>
            <td>@Html.TextBox("userName")</td>
        </tr>
        <tr>
            <td>@Html.Label("Student's email address: ")</td>
            <td>@Html.TextBox("emailAddress")</td>
        </tr>
        <tr>
            <td>@Html.Label("Confirm student's email address: ")</td>
            <td>@Html.TextBox("emailAddress2")</td>
        </tr>
        <tr>
            <td>@Html.Label("Is the staff a admin: ")</td>
            <td>
                @Html.DropDownList("isAdmin", new SelectList(new List<Object>{new { value = "Yes" , text = "Yes" },
                    new { value = "No" , text = "No"}}, "value", "text", 2))
        </td>
    </tr>
    <tr>
        <td>Initial Passwords are set to "Password"</td>
    </tr>
</table>

    <input value="Submit" type="submit" id="inputButton" />
}


