@using Capstone.Web.Models;

@model List<EmployerTeam>

@{
    ViewBag.Title = "AssignRoom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Update Rooms</h2>


<div>@Html.Label("Please pick a matchmaking event:")</div>
<div>@Html.DropDownList("matchmakingId", (List<SelectListItem>)ViewBag.Arrangements)</div>

@*@using (Html.BeginForm("UpdateRoom", "Staff"))
{*@

<form action="UpdateRoom" method="post">
    <table>
        <tr>
            <td>@Html.Label("Employer Name")</td>
            <td>@Html.Label("Team Number")</td>
            <td>@Html.Label("Assign Room")</td>
        </tr>
        @foreach (EmployerTeam e in Model)
        {
            <tr>
                <td>@Html.Label(e.EmployerName)</td>
                <td>@Html.Label(e.TeamId.ToString())</td>
                <td>@Html.TextBox(e.EmployerName + e.TeamId + "assignedRoom", e.AssignedRoom)</td>
            </tr>
        }

    </table>

    <input value="Update" type="submit" id="inputButton" />
    @*}*@
    </form>

