
@{
    ViewBag.Title = "CreateAStudentLogin";
}

<h2>Create A Student Login</h2>

@using (Html.BeginForm("UpdateStudentChoices", "Student"))
{
    <table>
        <tr>

            <td>@Html.Label("Please Rank your #1 Employer")</td>
            <td>@Html.DropDownList("Choice1", (List<SelectListItem>)ViewBag.EmployerNames)</td>
        </tr>
        <tr>
            <td>@Html.Label("Please Rank your #2 Employer")</td>
            <td>@Html.DropDownList("Choice2", (List<SelectListItem>)ViewBag.EmployerNames)</td>

        </tr>
    </table>
    <input value="Submit" type="submit" id="inputButton" />
    <p>@Html.ActionLink("Go Back", "StudentHome", "Student")</p>
    <br />
    <br />
    <br />
}


assign them to a matchmaking event