@model Capstone.Web.Models.Users.LoginViewModel
@{
    ViewBag.Title = "StaffHome";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<script type="text/javascript" src="~/Scripts/js/Login.js"></script>
<link type="text/css" rel="stylesheet" href="~/Content/css/crus.css" />

<div class="image-container set-full-height">
    <link type="text/css" rel="stylesheet" href="~/Content/css/crus.css" />



    <a href="~/About/About" style="" target="_blank">
        <div class="logo-container_01">
            <div class="logo">
                <img src="http://demos.creative-tim.com/material-bootstrap-wizard/assets/img/new_logo.png">
            </div>
                @ViewBag.userName
        </div>
    </a>
    <a href="#" style="" target="_blank">
        <div class="logo-container_02">

            <div class="brand">
                Log out
            </div>
        </div>
    </a>
    <a href="~/About/About" class="made-with-mk" target="_blank">
        <div class="brand">ET</div>
        <div class="made-with">Made with <strong>Echo Team</strong></div>
    </a>

    <!--   Big container   -->
    <div class="container">
        <div class="row" style="width: 1500px">
            <div class="col-sm-12">
                <!-- Wizard container -->
                <div class="wizard-container">
                    <div class="card wizard-card" data-color="green" id="wizard">
                        <div class="wizard-header">
                            <h3 class="wizard-title">
                                Staff Home
                            </h3>
                        </div>
                        <div class="wizard-navigation" style="width: 1450px">
                            <ul>
                                <li><a href="#details" data-toggle="tab">Add Student Login</a></li>
                                <li><a href="#captain" data-toggle="tab">Add Employer</a></li>
                                @*<li><a href="#description_01" data-toggle="tab">Update Status</a></li>*@
                                <li><a href="#description_02" data-toggle="tab">View Student Schedule</a></li>
                                <li><a href="#description_03" data-toggle="tab">View Employer Schedule</a></li>
                                <li><a href="#description_04" data-toggle="tab">View Master Schedule</a></li>
                                <li><a href="#description" data-toggle="tab">Assign Room</a></li>
                                <li><a href="#description_08" data-toggle="tab">Add Staff</a></li>

                                <li><a href="#description_05" data-toggle="tab">Create Arrangment</a></li>
                                <li><a href="#description_06" data-toggle="tab">Add Event</a></li>
                                <li><a href="#description_07" data-toggle="tab">Update Event</a></li>






                            </ul>
                            <div class="moving-tab" style="transition:0.5s cubic-bezier(0.29, 1.42, 0.79, 1); width: 200px; transform: translate3d(62.2727px, 0px, 0px);">Add Employer</div>
                        </div>

                        <div class="tab-content">
                            <div class="tab-pane" id="description_02">
                                <div class="row">
                                    @Html.Action("ViewAStudentsSchedule", "Staff")

                                </div>
                            </div>
                            <div class="tab-pane" id="details">
                                <div class="row">
                                    <div class="col-sm-12">
                                        @Html.Action("AddAStudentLogin", "Staff")
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="captain">
                                <div class="row" style="width: 1200px">
                                    <div class="col-sm-12 ">
                                        @Html.Action("AddEmployer", "Staff")
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="description">
                                <div class="row">
                                    @Html.Action("AssignRoom", "Staff")
                                    <div class="col-sm-6 col-sm-offset-1">
                                        <div class="form-group">
                                            @*<label>Room description</label>*@
                                            <textarea class="form-control" placeholder="" rows="6"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @*<label class="control-label">Example</label>*@
                                            @*<p class="description">"The room really nice name is recognized as being a really awesome room. We use it every sunday when we go fishing and we catch a lot. It has some kind of magic shield around it."</p>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="description_01">
                                <div class="row">
                                    @*  @Html.Action("UpdateStatus", "Staff") *@
                                    @*<h4 class="info-text"> Drop us a small description.</h4>*@
                                    <div class="col-sm-6 col-sm-offset-1">
                                        <div class="form-group">
                                            <label>@*Room description*@</label>
                                            <textarea class="form-control" placeholder="" rows="6"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @*<label class="control-label">Example</label>*@
                                            @*     <p class="description">"The room really nice name is recognized as being a really awesome room. We use it every sunday when we go fishing and we catch a lot. It has some kind of magic shield around it."</p>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="description_03">
                                <div class="row">
                                    @Html.Action("ViewEmployerSchedule", "Staff")
                                    @* <h4 class="info-text"> Drop us a small description.</h4>*@
                                    <div class="col-sm-6 col-sm-offset-1">
                                        <div class="form-group">
                                            @*<h4 class="info-text"> Drop us a small description.</h4>*@
                                            @*<label>Room description</label>*@
                                            <textarea class="form-control" placeholder="" rows="6"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @*<label class="control-label">Example</label>*@
                                            @*<p class="description">"The room really nice name is recognized as being a really awesome room. We use it every sunday when we go fishing and we catch a lot. It has some kind of magic shield around it."</p>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="description_04">
                                <div class="row">
                                    @Html.Action("ViewMasterSchedule", "Staff")
                                    @*<h4 class="info-text"> Drop us a small description.</h4>*@
                                </div>
                            </div>
                            <div class="tab-pane" id="description_08">
                                <div class="row">
                                    @Html.Action("AddStaffLogin", "Staff")

                                </div>
                            </div>
                            <div class="tab-pane" id="description_05">
                                <div class="row">
                                    @Html.Action("CreateNewArrangement", "Staff")

                                </div>
                            </div>
                            <div class="tab-pane" id="description_06">
                                <div class="row">
                                    @Html.Action("AddNewEvent", "Staff")

                                </div>
                            </div>
                            <div class="tab-pane" id="description_07">
                                <div class="row">
                                    @Html.Action("AddNewEvent", "Staff")

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
    </div>
</div>



