@using Capstone.Web.Models;

@model List<Interview>

@{
    ViewBag.Title = "ViewStudentSchedule";
}


<h2>
    AHMAD -
    IF POSSIBLE I WOULD LIKE THIS PAGE TO DYNAMICALLY CHANGE USING JAVASCRIPT.
    WHEN A STAFF COMES TO THIS PAGE INITIALLY IT SHOULD ONLY HAVE THE DROPDOWN LIST TO PICK a Cohort and then a DROPDOWN LIST OF STUDENTS .
    THEN WHEN THEY CLICK ON A PARTICULAR STUDENT THAT STUDENTS SCHEDULE SHOULD APPEAR.
    I DON'T KNOW HOW TO DO THIS WITH JAVASCRIPT, JSON OR AJAX.  SO IF YOU KNOW HOW TO DO THIS
    IT WOULD BE SO <STRONG>FANTASTIC</STRONG>.  OTHERWISE I WILL JUST CREATE TWO PAGES AND HAVE IT
    HIT THE CONTROLLER AND THEN DISPLAY THE RESULTS AFTERWARDS.  THANK YOU! KENDALLENE
</h2>


<h2>View Student Schedule</h2>

<td>@Html.Label("Which student's schedule do you want to see:")</td>
<td>@Html.DropDownList("student", (List<SelectListItem>)ViewBag.StudentNames)</td>



<div>
    <div class="fresh-table toolbar-color-green">
        <!--    Available colors for the full background: full-color-blue, full-color-azure, full-color-green, full-color-red, full-color-orange
                Available colors only for the toolbar: toolbar-color-blue, toolbar-color-azure, toolbar-color-green, toolbar-color-red, toolbar-color-orange
        -->



        <h2>View My Schedule</h2>


        <table id="fresh-table_02" class="table">
            <thead>
            <th data-field="name" data-sortable="true">Student Name</th>
            <th data-field="city" data-sortable="true">Employer Name</th>

            <th data-field="salary" data-sortable="true">Team Id</th>
            <th data-field="Start_Time" data-sortable="true">Event Date</th>
            <th data-field="Start_Time" data-sortable="true">Start Time</th>

            <th data-field="actions" data-formatter="operateFormatter" data-events="operateEvents">Actions</th>
            </thead>



            <tbody>
                @foreach (Interview i in Model)
                {
                    <tr>
                        <td>@i.StudentName</td>
                        <td> @i.EmployerName</td>
                        <td> @i.TeamId</td>
                        <td> @i.EventDate</td>
                        <td> @i.StartTime</td>
                    </tr>
                }

 
            </tbody>
        </table>
    </div>
    <script type="text/javascript" src="~/Scripts/js/bootstrap-table.js"></script>
    <script type="text/javascript">
        var $table = $('#fresh-table_02'),
            $alertBtn = $('#alertBtn'),
            full_screen = false;

        $().ready(function () {
            $table.bootstrapTable({
                toolbar: ".toolbar",

                showRefresh: true,
                search: true,
                showToggle: true,
                showColumns: true,
                pagination: true,
                striped: true,
                pageSize: 8,
                pageList: [8, 10, 25, 50, 100],

                formatShowingRows: function (pageFrom, pageTo, totalRows) {
                    //do nothing here, we don't want to show the text "showing x of y from..."
                },
                formatRecordsPerPage: function (pageNumber) {
                    return pageNumber + " rows visible";
                },
                icons: {
                    refresh: 'fa fa-refresh',
                    toggle: 'fa fa-th-list',
                    columns: 'fa fa-columns',
                    detailOpen: 'fa fa-plus-circle',
                    detailClose: 'fa fa-minus-circle'
                }
            });



            $(window).resize(function () {
                $table.bootstrapTable('resetView');
            });


            window.operateEvents = {
                'click .like': function (e, value, row, index) {
                    alert('You click like icon, row: ' + JSON.stringify(row));
                    console.log(value, row, index);
                },
                'click .edit': function (e, value, row, index) {
                    alert('You click edit icon, row: ' + JSON.stringify(row));
                    console.log(value, row, index);
                },
                'click .remove': function (e, value, row, index) {
                    $table.bootstrapTable('remove', {
                        field: 'id',
                        values: [row.id]
                    });

                }
            };

            $alertBtn.click(function () {
                alert("You pressed on Alert");
            });

        });


        function operateFormatter(value, row, index) {
            return [
                '<a rel="tooltip" title="Like" class="table-action like" href="javascript:void(0)" title="Like">',
                '<i class="fa fa-heart"></i>',
                '</a>',
                '<a rel="tooltip" title="Edit" class="table-action edit" href="javascript:void(0)" title="Edit">',
                '<i class="fa fa-edit"></i>',
                '</a>',
                '<a rel="tooltip" title="Remove" class="table-action remove" href="javascript:void(0)" title="Remove">',
                '<i class="fa fa-remove"></i>',
                '</a>'
            ].join('');
        }


    </script>
</div>