@using Capstone.Web.Models;

@model List<Interview>

@{
    ViewBag.Title = "ViewStudentSchedule";
}


<h2>
    AHMAD -
    IF POSSIBLE I WOULD LIKE THIS PAGE TO DYNAMICALLY CHANGE USING JAVASCRIPT.
    WHEN A STAFF COMES TO THIS PAGE INITIALLY IT SHOULD ONLY HAVE THE DROPDOWN LIST TO PICK a Cohort and then a DROPDOWN LIST OF STUDENTS .
    THEN WHEN THEY CLICK ON A PARTICULAR STUDENT THAT STUDENTS SCHEDULE SHOULD APPEAR.
    I DON'T KNOW HOW TO DO THIS WITH JAVASCRIPT, JSON OR AJAX.  SO IF YOU KNOW HOW TO DO THIS
    IT WOULD BE SO <STRONG>FANTASTIC</STRONG>.  OTHERWISE I WILL JUST CREATE TWO PAGES AND HAVE IT
    HIT THE CONTROLLER AND THEN DISPLAY THE RESULTS AFTERWARDS.  THANK YOU! KENDALLENE
</h2>


<h2>View Student Schedule</h2>

<td>@Html.Label("Which student's schedule do you want to see:")</td>
<td>@Html.DropDownList("student", (List<SelectListItem>)ViewBag.StudentNames)</td>



<div>
    <div class="fresh-table toolbar-color-green">
        <!--    Available colors for the full background: full-color-blue, full-color-azure, full-color-green, full-color-red, full-color-orange
                Available colors only for the toolbar: toolbar-color-blue, toolbar-color-azure, toolbar-color-green, toolbar-color-red, toolbar-color-orange
        -->

        <h2>View My Schedule</h2>

        <table id="fresh-table" class="table">
            <thead>
            <th data-field="name" data-sortable="true">Student Name</th>
            <th data-field="city" data-sortable="true">Employer Name</th>

            <th data-field="salary" data-sortable="true">Team Id</th>
            <th data-field="Start_Time" data-sortable="true">Event Date</th>
            <th data-field="Start_Time" data-sortable="true">Start Time</th>

            <th data-field="actions" data-formatter="operateFormatter" data-events="operateEvents">Actions</th>
            </thead>
            <tbody>
                @foreach (Interview i in Model)
                {
                    <tr>
                        <td>@i.StudentName</td>
                        <td> @i.EmployerName</td>
                        <td> @i.TeamId</td>
                        <td> @i.EventDate</td>
                        <td> @i.StartTime</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
   
</div>