@using Capstone.Web.Models;

@model List<Interview>

@{
    ViewBag.Title = "MasterSchedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    need to add a list of all the matchmaking arrangments to pick which arrangment master's schedule you want to view
    Add this to the cards list - It would be nice to view the master schedule by having the employers going down and time going across. 
</h2>
<h1>Tech Elevator Matchmaking Master Schedule</h1>

<table>
    <tr>
        <th>Employer Name</th>
        <th>Team Id</th>
        <th>Student Name</th>
        <th>Event Date</th>
        <th>Start Time</th>
        <th>Assigned Room</th>
    </tr>
    @foreach (Interview i in Model)
    {
        <tr>
            <td> @i.EmployerName</td>
            <td> @i.TeamId</td>
            <td> @i.StudentName</td>
            <td> @i.EventDate</td>
            <td> @i.StartTime</td>
            <td> @i.AssignedRoom</td>
        </tr>
    }
</table>