@using Capstone.Web.Models;
@model List<Employer>

@{
    ViewBag.Title = "RankEmployers";
}

<h2>Rank Employers</h2>

@using (Html.BeginForm("UpdateStudentChoices", "Student"))
{
<table>

    @for (int i = 1; i <= ViewBag.NumberOfStudentChoices; i++)
    {
        <tr>

            <td>@Html.Label("Please Rank your #"+i+" Employer")</td>
            <td>@Html.DropDownList("Choice"+i, (List<SelectListItem>)ViewBag.EmployerNames)</td>
        </tr>
    }

</table>
<input value="Submit" type="submit" id="inputButton"/>
<p>@Html.ActionLink("Go Back", "StudentHome", "Student")</p>
<br />
<br />
<br />
}

<table>
    
    <tr>
        <th>Employer Name</th>
        <th>Summary</th>

    </tr>

    @foreach (Employer e in Model)
    {
        <tr>
            <td> @e.EmployerName</td>
            <td> @e.Summary</td>
        </tr>
    }
</table>



