@using Capstone.Web.Models;
@model List<Employer>

@{
    ViewBag.Title = "RankEmployers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rank Employers</h2>

<form action="UpdateStudentChoices" onsubmit="" method="get">

    @{string loggedInUserName = ViewBag.userName; }
    @Html.Hidden("userName", loggedInUserName);

    <table>
        @for (int i = 1; i <= ViewBag.NumberOfStudentChoices; i++)
            {


            <tr>

                <td>@Html.Label("Please Rank your #" + i + " Employer")</td>
                <td>@Html.DropDownList("Choice" + i, (List<SelectListItem>)ViewBag.EmployerNames)</td>
            </tr>
        }

    </table>
    <script>


    </script>



    <input value="Submit" type="submit" id="inputButton" />
</form>




@*<p>@Html.ActionLink("Go Back", "StudentHome", "Student")</p>*@
<br />
<br />
<br />

<table>

    <tr>
        <th>Employer Name</th>
        <th>Profile</th>

    </tr>

    @foreach (Employer e in Model)
    {
        <tr>
            <td> @e.EmployerName</td>
            <td> @e.Summary</td>
        </tr>
    }
</table>



