@using Capstone.Web.Models;

@model List<Interview>

@{
    ViewBag.Title = "MasterSchedule";
}

<h1>Tech Elevator Matchmaking Master Schedule</h1>
<table>
   <tr>
        <th>Emloyer Name</th>
       <th>Team Id</th>
        <th>Student Name</th>
        <th>Event Date</th>
        <th>Start Time</th>
        <th></th>
        <th></th>     
    </tr>
    @foreach (Interview i in Model)
    {
        <tr>
            <td> @i.EmployerName</td>
            <td> @i.TeamId</td>
            <td> @i.StudentName</td>
            <td> @i.EventDate</td>
            <td> @i.StartTime</td>
        </tr>
    }
</table>